<%
=begin%>
 if you're wondering how we're able to access '@user' in a template- it gets passed in the controller's action- this case the show
<%
=end%>

<h1 align="center">Welcome to <%= @user.username%>'s Profile</h1>

<div align="center" class="row">
  <div class="col-md-4 col-md-offset-4 center">
  <%= gravatar_for @user, size:150 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles: </h4>
<%= render 'articles/article', obj: @user.articles%>
